*{

    margin: 0;
    padding: 0;
}

:root{
    --black: #0a0908ff;
    --gunmetal: #22333bff;
    --almond: #eae0d5ff;
    --khaki: #c6ac8fff;
    --walnut-brown: #5e503fff;
    --fonte-titulo:"Kanit", sans-serif;
    --fonte-texto:"Poppins", sans-serif;
}

h1{
    background-color: #6352ff;
}
.cabecalho{
    background-color: var(--);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

.cabecalho{
    background-color: var(--khaki) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-img{
    width: 10%;
    margin: 1em;
}


.cabecalho-link{
    text-decoration:none;
    font-size: 2em;
    color:var(--almond);
    font-family: var(--fonte-titulo);
    margin-right: 1em;
}